{% extends 'base.html.twig' %}

{% block title %}Email de reinitialisation envoyé | {{ parent() }}{% endblock %}

{% block body %}
    <p>
        S'il y existe un compte associé à votre mail,
        vous allez recevoir un mail contenant un lien qui permet de changer votre mot de passe.
        Ce lien s'expire en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail, veuillez vérifier votre boîte de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
{% endblock %}
