.date, .participant{
    text-align: right;
    padding-right: 50px;
}

.centerText{
    text-align:center;
}

tr:nth-child(even) {background: white;}
tr:nth-child(odd) {background: lightgray;}

td, th {
    padding: 5px;
}

table, .flashMsg {
    margin-bottom: 1em;
}

.thead-dark{
    background-color:darkslategrey;
    color:antiquewhite;
}

.backIsWhite{
    background-color:white;
}

body {
    background-size: cover;
    background: linear-gradient(white, #f6aef6) fixed center center;
    color: lightpink;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #592659;
    display: flex;
    align-items: center;
    align-content: end
}

/* Style the topnav links */
.topnav a,#name_logo {
    float: left;
    display: block;
    color: #f8c8cf;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-left: #f8c8cf solid thin;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #f8c8cf;
    color: #f88f9f;
}

.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

.footer {
    background-color: #592659;
    color: #f8c8cf;
    padding: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 35px;
}

#logo_header:hover{
    background-color: inherit;
}

#logo_header,#name_logo {
    border: none;
}

#name_logo {
    color: #f8c8cf;
    margin: 15px 25px 5px 0;
    font-size: 3rem;
    font-family: 'Source Serif Pro', serif;
}

#detailSortie > div > ul > li {
    list-style: none;
    margin-bottom: 0.5em;
}
#detailSortie > div {
    margin: 0.3em;
}

#detailSortie > div > ul {
    margin-bottom: 1em;
}

i {
    font-weight: bold;
    margin-right: 0.5em;
}

h2 {
    text-shadow: rgba(180, 133, 180, 0.73) 2px 2px;
}

a > button , button{
    border: 1px solid #e0bbc1;
    color: #e0bbc1;
    background-color: #8d3d8d;
    padding: 0.7rem 1em 0.7em 1em;
    border-radius: 0.3em;
}

a > button:hover, button:hover {
    border: 1px solid #8d3d8d;
    color: #8d3d8d;
    background-color: #e0bbc1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: #592659;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}


header {
    font-family: 'Quicksand', sans-serif;
}
label{
    display: block;
    margin-right: 80px;
    width: 80px;
}
input {
    width : 200px;
    margin: 0;

    -webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
    -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
    box-sizing: border-box;
}
.photoProfil{

    margin-right: 40px;
}
.profil{
    display: flex;
    flex-direction: row;
}
button{
    margin-top: 50px;
}
.detailsDeMonProfil, #detailSortie{
    align-items: center;
    display: flex;
    flex-direction: row;
}




input,textarea,select{
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    display: block;
}

form>div>div {
    margin-bottom: 1rem;
}

label {
    display: block;
    width: auto;
}

.rememberMe {
    display: inline-block;
    text-align: center;
    padding: 10px 10px 10px 0;
}

button {
    padding: 5px 15px 5px 15px;
}


.detailsDeMonProfil td{
    width: 120px;
    padding-left: 50px;
}
.tdEmail{
    width: 400px;
}
#create_sortie__token{
    width: 150px;
    height: 50px;
    background-color: red;
    display: block;
}



