.date, .participant{
    text-align: right;
    padding-right: 50px;
}

.filtreSorties > form > div > div > label{
    margin: 0;
    padding: 0 0 0.1em 0.1em;
}

.filtreSorties1 > h2 , div{
    color: #592659;
    flex-direction: column;
    margin: 0;
    padding-right: 1em;
    display: inline-flex;
}

.centerText{
    text-align:center;
}

td, th {
    padding: 5px;
}

#actionSortie {
    padding: 10px;
    display: inline-block;
    width: max-content;
}

table, .flashMsg {
    margin-bottom: 1em;
}

.thead-dark{
    background-color:darkslategrey;
    color:antiquewhite;
}

.alter tr:nth-child(odd) {
    background: lightgray;
}

.alter tr:nth-child(even) {
    background: white;
}

body {
    background-size: cover;
    background: linear-gradient(white, #f6aef6) fixed center center;
    color: lightpink;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #592659;
    display: flex;
    align-items: center;
    padding: 1px 0 1px 15px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f8c8cf;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-left: #f8c8cf solid thin;
}
#name_logo{
    color: #f8c8cf;
    font-size: 3.2rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: normal;
    padding: 0.6em 0.6em 0 0.3em;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #f8c8cf;
    color: #f88f9f;
}


#logo_header:hover{
    background-color: inherit;
}

#logo_header,#name_logo {
    border: none;
}

#logo_header {
    padding: 0;
}

.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

.footer {
    background-color: #592659;
    color: #f8c8cf;
    padding: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 35px;
}


#detailSortie > div > ul > li {
    list-style: none;
    margin-bottom: 0.5em;
}
#detailSortie > div {
    margin: 0.3em;
}

#detailSortie > div > ul {
    margin-bottom: 1em;
}

i {
    font-weight: bold;
    margin-right: 0.7em;
}

h2 {
    text-shadow: rgba(180, 133, 180, 0.73) 2px 2px;
    margin: 0 0 1em 0;
}

a > button , button{
    border: 1px solid #e0bbc1;
    color: #e0bbc1;
    background-color: #8d3d8d;
    padding: 0.7rem 1em 0.7em 1em;
    border-radius: 0.3em;
    margin:0.5em;
}

a > button:hover, button:hover {
    border: 1px solid #8d3d8d;
    color: #8d3d8d;
    background-color: #e0bbc1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: #592659;
}
.flex{
    display: grid;
    grid-template-columns: 20rem 1fr 1fr 1fr;
    grid-gap: .5rem;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}


header {
    font-family: 'Quicksand', sans-serif;
}
label{
    display: block;
    margin-right: 80px;
    width: 80px;
}
input {
    width : 200px;
    margin: 0;

    -webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
    -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
    box-sizing: border-box;
}
.photoProfil{
    margin-right: 40px;
}
.profil{
    display: flex;
    flex-direction: row;
}

.detailsDeMonProfil, #detailSortie{
    align-items: center;
    display: flex;
    flex-direction: row;
}
#create_sortie{
    display: flex;
    flex-direction: row;
}
.first{
    grid-column: span 2;
    margin-right: 5%;
    /*width: 50%;*/
}
.first div:nth-child(4)>input{
    width: 50px;
}
.second{
    grid-column: span 2;
    /*width: 50%;*/
}
.formButtons{
    grid-column: span 4;
    padding-left: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

input,textarea,select{
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    display: block;
}

/*form>div>div {*/
/*    margin-bottom: 1rem;*/
/*}*/

label {
    display: block;
    width: 200px;
    justify-content: space-between;
    /*margin: .5rem;*/
}

.rememberMe {
    display: inline-block;
    text-align: center;
    padding: 10px 10px 10px 0;
}

.detailsDeMonProfil td{
    width: 120px;
    padding-left: 50px;
}
.tdEmail{
    width: 400px;
}
#faireApparaitre{
    visibility: hidden;
    position: absolute;
    top: 350px;
    left: 850px;
    font-size: 12px;
    align-items: center;
}
#submit{
    float: right;
}

/*#lieu{*/
/*    width: 100%;*/
/*    height: auto;*/
/*    align-items: center;*/
/*}*/
.ajouter{
    display: flex;
    flex-direction: row;
}
.ajouter>a{
    padding-top: 27px;
    padding-left: 5px;
}

.alert-success{
    color:green;
    background-color:lightgrey;
    padding: 1em;
    border-radius: 0.5em;
}

.alert-fail{
    color:red;
    background-color:lightgrey;
    padding: 1em;
    border-radius: 0.7em;
}
#lieu{
    margin:0;
    padding:0;

}

