{% extends 'base.html.twig' %}

{% block title %}
S'inscrire à une sortie | {{ parent() }}
{% endblock %}

{% block main %}

    <h2>Sortie {{ sortie.nom }}</h2>

    {% include('inc/flashMessages.html.twig') %}

    <a href="{{ path('main_home') }}"><button>Retour</button></a>


{% endblock %}

