{% extends 'base.html.twig' %}

{% block title %}
Mon Profil
{% endblock %}

{% block main %}
        <h2>Mon profil</h2>
        <div class="photoProfil"></div>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <br>
        <button type="submit">Enregistrer</button>
        <button type="reset">Annuler</button>
        {{ form_end(profilForm) }}
{% endblock %}

